/* formatting of the headings */

h1, h2, h3 {
  height: 30px;
  font-color: black; 
  font-family: 'Comic Sans MS';
  text-align: center;
}

body {
  background-color: #F5F5DC;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding: 0px, 0px ;
}

/* CSS for the picture and header*/

.dark-background{
  background-color: gray;
  color:white;
  text-align: center;
  
}

footer {
  margin: 30px 0 0 -10px;
}

/*background for footer*/

.light-background{
  background-color:F5DEB3;
  color: brown;
}

/* Styled links using pseudo-classes*/

  a:link {
    color: blue;
  }

a:hover {
  color: red
}

